<launch>
  <!-- Start MoveIt -->
  <include file="$(find fetch_moveit_config)/launch/move_group.launch" >
    <rosparam command="load" file="$(find fetch_moveit_config)/config/kinematics.yaml"/>
    <arg name="allow_active_sensing" value="true"/> <!-- allow the realtime octomap if true -->
    <arg name="info" value="true"/><!-- publish grasp markers -->
  </include>
  
  <!-- Perception Node-->
  <include file="$(find fetch_demos_common)/launch/fetch_demos_clustering.launch" >
  </include>

  <!-- planning node -->
  <node name="fetch_demos_grasp_cube" pkg="fetch_grasp_cube_demo" type="collect_data.py" output="screen" >
    <rosparam command="load" file="$(find fetch_grasp_cube_demo)/config/grasp_cube_demo.yaml" />  

  </node>

</launch>
